<IfModule mod_rewrite.c>
    RewriteEngine On

    # 如果访问的是目录，且该目录中没有 index.php，则重写到 default.md
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteCond %{REQUEST_FILENAME}/index.php !-f
    RewriteRule ^(.+[^/])/?$ $1/default.md [L]

    # 将对 .md 文件的访问交给 index.php 处理
    RewriteRule ^(.*)\.md$ index.php?path=$1.md [L]
</IfModule>
